* {
  margin: 0; padding: 0; box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #E5E5E5;
  width: 600px;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  padding: 0px 60px;
  font-size: 2em;
  font-weight: 900;
}

#navbar {
  height: 64px;
  background-color: #242423;
  padding: 5px 26px;
  box-shadow: 2px 5px 3px grey;

  font-size: large;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar i {
  display: block;
}

#navbar-title {
  color: #fca311;
  font-weight: bolder;
  font-style: italic;
  font-size: 1.2em;
}

#navbar-star {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
}

#navbar-star i {
  color: rgb(167, 167, 167);
  font-size: 2rem;
  cursor: pointer;
  padding: .5rem;
  transition: color .3s ease;
}

#navbar-star i:hover {
  color: rgb(255, 232, 99);
  font-size: 2rem;
}

#navbar-button {
  display: flex;
  align-items: center;
  height: 100%;
}

#navbar-button > #button-newfav {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#navbar-button > #button-newfav {
  color: #c07c10;
  font-size: 1.8rem;
  transition: color .3s ease;
  padding: .5rem;
}

#navbar-button > #button-newfav:hover {
  color: #fca311;
}

#content {
  padding: 40px 50px;
  justify-content: center;
  text-align: center;
}

#content-title {
  max-width: 450px;
  width: 90%;
  margin: 0 auto;
}

#content-title > span {
  color: #ff9d00;
}

.favorite-img {
  width: 32px;
  height: 32px;
  margin: auto;
}

.favorite-link-item {
  margin: 15px 0;
  display: flex;
  width: 100%;
}

.favorite-header {
  background-color: #242423;
  border: 1px solid #242423;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 1px 3px 3px rgb(180, 180, 180);

  width: 60px;
  display: flex;
  justify-content: center;
}

.favorite-content-container {
  background-color: #fff;
  border: 1px solid #242423;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 1px 3px 3px rgb(180, 180, 180);
  padding: 25px 0px 25px 30px;
  width: 100%;
}

.favorite-content {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  margin-right: 37px;
}

.favorite-title {
  max-height: 80px;
  overflow-y: hidden;
  font-size: 1.25em;
  font-weight: bolder;
  text-align: left;
}

.favorite-url {
  display: block;
  padding: .5rem;
  color: #ca8311;
  transition: color .3s ease;
}

.favorite-url > i {
  font-size: 1.8rem;
}

.favorite-url:hover {
  color: #fca311;
}
